!!! 5
%html
  %head
    %title Subscribr
    = stylesheet_link_tag 'http://matenia.com/assets/bootstrap.css'
    = stylesheet_link_tag 'subscribr/application'
    = javascript_include_tag 'subscribr/application'
    = csrf_meta_tags
  %body
    .container=yield